.one {
    animation: appear;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    transition: .7s;
}




@keyframes appear {
    from {
        opacity: 0;
        /* top: 8%; */
    }

    to {
        opacity: 1;
        /* top: 10%; */
    }
}